---
script:
- pipenv run pytest


language: python
python: 3.7
# cache:
#   directories:
#     - $HOME/virtualenv/python3.6/

jobs:
  include:
  - stage: lint
    script: pylint mfacli/
    install:
    - pip install pipenv
    - pipenv install --dev

  - stage: test
    install:
    - pip install pipenv
    - pipenv install --dev
    - sudo apt update && sudo apt install -y xclip
    script:
    - xclip -version
    - pipenv run test


  - stage: deploy
    script: skip
    install:
    - pip install pipenv twine
    - pipenv install --deploy
    deploy:
      provider: pypi
      user: ' __token__'
      password: $PYPI_PASSWORD
      distributions: sdist
      on:
        tags: true
