---
language: python
python: 3.7
# cache:
#   directories:
#     - $HOME/virtualenv/python3.6/

jobs:
  include:
  # - stage: unit
  #   script: pytest tests/unit

  - stage: lint
    script: pylint mfacli/
    install:
    - pip install pipenv
    - pipenv install --dev -e .


  - stage: deploy
    script: skip
    install:
    - pip install pipenv
    - pipenv install --deploy
    deploy:
      provider: pypi
      user: '@token'
      password: $PYPI_PASSWORD
      distributions: sdist
      on:
        tags: true
