---
script:
- pipenv run pytest


language: python
python: 3.7

jobs:
  include:
  - stage: lint
    install:
    - pip install pipenv
    - pipenv install --dev
    script:
    - pipenv run lint

  - stage: test
    install:
    - pip install pipenv
    - pipenv install --dev
    env:
    - DISPLAY=:99.0
    addons:
      apt:
        update: true
        packages:
        - xclip
    script:
    - pipenv run test


  - stage: deploy
    script: skip
    install:
    - pip install pipenv twine
    - pipenv install --deploy
    deploy:
      provider: pypi
      user: ' __token__'
      password: $PYPI_PASSWORD
      distributions: sdist
      on:
        tags: true
