[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
ipython = "*"

[packages]
pyotp = "*"
pyyaml = "*"
click = "*"
pyaescrypt = "*"

[requires]
python_version = "3.7"
