[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "==2.3.1"
ipython = "==7.6.1"
twine = "*"

[packages]
mfa-cli = {editable = true,path = "."}

[requires]
python_version = "3.7"

# vim: ft=toml
