[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "==7.6.1"
pylint = "==2.3.1"
pytest = "==5.0.1"
twine = "*"

[packages]
mfa-cli = {editable = true,path = "."}

[requires]
python_version = "3.7"

[scripts]
test = 'pytest'

# vim: ft=toml
