---
name: CI
'on':
  pull_request:
  push:

jobs:

  test:
    name: Lint and Test
    runs-on: ubuntu-latest
    steps:
      - name: Check out the codebase.
        uses: actions/checkout@v2

      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - id: cache-pipenv
        uses: actions/cache@v1
        with:
          path: ~/.local/share/virtualenvs
          key: ${{ runner.os }}-pipenv-${{ hashFiles('**/Pipfile.lock') }}

      - name: Install test dependencies.
        run: |
          pip3 install pipenv
          pipenv install --dev

      - name: Run Pylint
        run: pipenv run pylint mfacli

      - name: Run Pytest
        run: pipenv run test
